body {
    background-color: #E0F2F1;
}

h1 {
    color: #1E88E5;
    margin-left: 0px;
    font-family: serif;
    font-weight: bold;
}

h2 {
    color: lightblue;
    margin-left: 0px;
    font-family: serif;
    font-weight: bold;
}

h3 {
    color: #01579B;
    margin-left: 0px;
    font-family: serif;
    font-weight: bold;
}

  /* unvisited link */
  a:link {
    color: navy;
  }

  /* visited link */
  a:visited {
    color: purple;
  }

  /* mouse over link */
  a:hover {
    color: blue;
  }

  /* selected link */
a:active {
  color: magenta;
}
